@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

:root {
    --background-color: #261931;
    --text-color: #E8D67C;
    scroll-behavior: smooth;
    --font-family: 'Playball', cursive, sans-serif;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}
/* Header */
.header-iner {
display: flex;
justify-content: space-between;
align-items: center;
height: 120px;
background-color: var(--background-color);
}

.logo {
display: flex;
}

.logo-img {
    max-height: 100px;
    width: auto;
    margin-left: 50px;
}



.menu {
    margin-right: 100px;
}
.menu__list {
    display: flex;
}


.menu__list-item {
    list-style-type: none;
    
}
.menu__list-item + .menu__list-item {
margin-left: 40px;
}

.menu__list-link {
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 36px;
    line-height: 45px;
    font-weight: 400;
    text-decoration: none;
}

.line{
    display: flex;
    max-width: 1024px; 
}

/* Mein content*/

.item-text{
    display: flex;
    margin-top: 45px;
    justify-content: center;
}

.text {
    font-family: var(--font-family);
    font-size: 72px;
    font-weight: 400;
    color: var(--background-color);
}

/*Product Card*/
.product-card {
display: flex;
justify-content: space-between;
margin-top: 75px;
}

.card-body {
}
.card-title{
    font-family: var(--font-family);
    font-size: 24px;
    color: black; 
}
